.profile {
  padding: 2.5rem 3.1rem;
}


@media screen and (max-width: 768px) {
  .profile {
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 1rem;
  }

  .profile > *:first-child {
    margin-bottom: 1.5rem;
  }
}