.notification-message {
  display: none;
}

.notification-message.visible {
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  position: relative;
}

.icon-container {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageText {
  color: var(--gray-color);
}

.close-notification-btn {
  border: none;
  border-radius: 1.5rem;
  background-color: var(--light-gray-color);
  color: var(--dark-gray-color);
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-message.success {
  border: var(--border-default-values) var(--success-color);
}

.notification-message.success .icon-container {
  background-color: var(--light-success-color);
  color: var(--success-color);
}
