.profile-card {
  background-color: var(--charcoal-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1.5rem;
  border-radius: 2rem;
  position: relative;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.profile-card:hover {
  transform: translateY(-1rem);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.profile-card .image-container {
  width: 70%;
  border-radius: 7rem;
  overflow: hidden;
}

.profile-card .image-container .profile-image {
  aspect-ratio: 1 / 1;
}

.profile-card .info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  color: var(--coffee-pot-color);
}

.profile-card .info-wrapper .username {
  font-size: 1.75rem;
}

.profile-card .info-wrapper .profile-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.profile-card .info-wrapper .profile-meta .profile-type {
  display: inline-block;
  background-color: var(--pewter-color);
  padding: 0.1rem 0.75em;
  border-radius: 1rem;
}

.profile-card .info-wrapper .profile-meta .country-div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.profile-card .info-wrapper .profile-bio {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}
