.navbar {
  width: 100%;
  padding: 1.25rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pewter-color);
}

.navbar .logo {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .links .item {
  transition: transform 500ms ease-in-out;
}

.navbar .links .item:hover {
  transform: scale(1.25);
}

.navbar .links .item .link {
  text-decoration: none;
  color: var(--tan-color);
}

.navbar .links .item .link.active {
  text-decoration: underline;
}

.navbar .user-menu {
  display: flex;
  gap: 0.5rem;
}

.navbar .user-menu .dropdown .user-toggle {
  color: var(--tan-color);
  font-size: 1.5rem;
  height: 100%;
}

.navbar .user-menu .dropdown {
  position: relative;
}

.navbar .user-menu .dropdown .user-toggle,
.navbar .user-menu .dropdown:hover .menu-list .dropdown-item .logout-btn{
  background: none;
  border: none;
}
.navbar .user-menu .dropdown .menu-list {
  position: absolute;
  display: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dark-pewter-color);
  flex-direction: column;
  min-width: 150px;
  z-index: 10;
}

.navbar .user-menu .dropdown:hover .menu-list {
  display: flex;
}

.navbar .user-menu .dropdown:hover .menu-list .dropdown-item{
  text-align: center;
  padding: 0.8rem 1rem;
  width: 100%;
}

.navbar .user-menu .dropdown:hover .menu-list .dropdown-item:hover {
  background-color: var(--darker-pewter-color);
}

.navbar .user-menu .dropdown:hover .menu-list .dropdown-item .dropdown-link,
.navbar .user-menu .dropdown:hover .menu-list .dropdown-item .logout-btn{
  color: var(--tan-color);
}

.navbar .auth-link{
  background-color: #BB8B5A;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  transition: background-color 500ms ease-in-out;
}

.navbar .auth-link:hover{
  background-color: #8C6741;
}
