.notification-message {
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  margin-top: 1.5rem;
}

.icon-container {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageText {
  color: var(--gray-color);
}

.notification-message.success .icon-container {
  background-color: var(--light-success-color);
  color: var(--success-color);
}
