.pagination-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pagination-list .paginate-btn {
  background: none;
  border: 1px solid var(--gray-color);
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}