.auth-form .auth-field .show-password-btn {
  background: none;
  border: none;
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex; /* This is done in order for the icon to be center in the button */
  color: var(--brown-color);
}
