.drop-zone {
  width: 100%;
  height: 15rem;
  border: var(--border-default-values) var(--tan-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--tan-color);
}

.file-name {
  font-size: 1.25rem;
}

.browse-btn,
.remove-btn {
  padding: 0.5rem 2rem;
  font-style: italic;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0.31rem;
}

.browse-btn {
  background-color: var(--tan-color);
  cursor: pointer;
}

.remove-btn {
  background-color: var(--red-color);
}

.drop-zone,
.browse-btn {
  border-radius: 0.31rem;
}

.hidden-input {
  display: none;
}
