@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

*,
*:before,
*:after {
  font-family: "Vend Sans", sans-serif;
}

ul{
  list-style-type: none;
}

ul,
ol{
  padding: 0;
}
