.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0;
  gap: 1rem;
}

.contact-container .contact-header {
  color: var(--tan-color);
}
