.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0;
  gap: 1rem;
}

.contact-container .contact-header {
  color: var(--tan-color);
}

@media screen and (max-width: 768px) {
  .contact-container {
    margin: 2rem 0;
  }

  .contact-container .contact-header {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-container {
    margin: 1rem 0;
    padding: 0.5rem;
  }

  .contact-container .contact-header {
    padding: 0 1rem;
    font-size: 1.75rem;
  }
}
