.post-card {
  border-radius: 1rem;

  background-color: var(--charcoal-color);
  color: var(--coffee-pot-color);
}

.post-card .top > *,
.post-card .caption > * {
  font-size: 1rem;
}

.post-card .top,
.post-card .caption {
  padding: 0.5rem 1rem;
}

.post-card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.post-card .top .user-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.post-card .top .user-container .profile-image {
  width: var(--profile-image-width-and-height);
  height: var(--profile-image-width-and-height);
  border-radius: 50%;
}

.post-card .top .user-container .username {
  font-weight: bold;
}

.post-card .top .user-container .city {
  font-style: italic;
  font-weight: lighter;
}

.post-card .top .user-container .status {
  padding: 0.4rem;
  border: 3px solid;
  border-radius: 3rem;
  margin: 0;
}

.post-card .top .user-container .status.found {
  color: #009e60;
  border-color: #009e60;
}

.post-card .top .user-container .status.not-found {
  color: #d22b2b;
  border-color: #d22b2b;
}

.post-card .top .more-options-container {
  position: relative;
}

.post-card .top .more-options-container .show-more {
  background: none;
  border: none;
  color: inherit;
  z-index: 100;
}

.post-card .top .more-options-container .more-options-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #efeaea;
  border-radius: 1.25rem;
  width: 9rem;
  overflow: hidden;
}

.post-card .top .more-options-container .more-options-menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-card .top .more-options-container .more-options-menu .option-item {
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: var(--border-default-values) var(--coffee-pot-color);
  text-align: center;
}

.post-card .top .more-options-container .more-options-menu .option-item:hover {
  background-color: #cecbcb;
}

.post-card
  .top
  .more-options-container
  .more-options-menu
  .option-item:last-child {
  border-bottom: none;
}

.post-card
  .top
  .more-options-container
  .more-options-menu
  .option-item
  .option {
  width: 100%;
  background: none;
  border: none;
}

.post-card .image-container {
  width: 100%;
  height: 412px;
  background-color: black;
}

.post-card .image-container .post-image {
  margin: 0 auto;
  height: 100%;
  object-fit: contain;
}

.post-card .caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.post-card .actions {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.post-card .actions .action {
  background: none;
  border: none;
  color: inherit;
  transition: background-color 500ms ease-in-out;
}

.post-card .actions .action:hover {
  background: #a8aabd;
}

.post-card .actions .count {
  margin-left: 0.25rem;
}

.post-card .divider {
  border: var(--border-default-values) var(--coffee-pot-color);
}
