.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--pewter-color);
  z-index: 200;
  display: none;
}

.form-container.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-base);
  min-width: 400px;
  min-height: 450px;
}

.form-container .loader-container {
  flex: 1;
}

.form-container .close-tab-btn {
  position: absolute;
  top: 3%;
  right: 3%;
  background: none;
  border: none;
}

.form-container .edit-post-form {
  padding: var(--spacing-base) var(--spacing-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.form-container .edit-post-form .post-field .post-input {
  background: none;
  border-radius: var(--radius-xs);
  border: var(--border-default-values) var(--tan-color);
  width: 100%;
  padding: var(--spacing-md) var(--spacing-base);
}

.form-container .edit-post-form .post-field .post-input:focus {
  outline: none;
}

.form-container .edit-post-form .post-field .post-input.textarea {
  resize: none;
  display: block;
}

.form-container .edit-post-form .post-field .post-input.select .select-option {
  color: var(--tan-color);
}

.form-container .edit-post-form .edit-btn {
  padding: var(--spacing-xs) var(--spacing-2xl);
  border: none;
  border-radius: var(--radius-sm);
  background-color: var(--coffee-pot-color);
  color: white;
  transition: var(--transition-all);
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 90%;
  }

  .form-container .close-tab-btn {
    width: 2.7rem;
    height: 2.7rem;
  }
}

@media screen and (max-width: 480px) {
  .form-container {
    width: 95%;
    min-width: unset;
    min-height: 400px;
  }

  .form-container .edit-post-form .post-field {
    padding: var(--spacing-base);
  }

  .form-container .edit-post-form .post-field .post-input {
    font-size: var(--text-base);
  }

  .form-container .edit-post-form .post-field .post-input.textarea {
    height: 8rem;
  }
}
