.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 70%;
}

.auth-form .auth-field .auth-label{
  display: block;
  color: var(--brown-color);
}

.auth-form .auth-field .input-container {
  position: relative;
}

.auth-form .auth-field .auth-input {
  background: none;
  width: 100%;
  border: 1px solid var(--brown-color);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: var(--brown-color);
  padding-left: 0.5rem;
}

.auth-form .auth-field .auth-input.error-input {
  border: 1px solid var(--red-color);
}

.auth-form .auth-field .auth-input.error-input:focus {
  outline: 1px solid var(--red-color);
}

.auth-form .submit-btn {
  background-color: var(--brown-color);
  border: none;
  border-radius: 1.5rem;
  color: white;
  margin-top: 1rem;
  padding: 0.5rem;
  transition: background-color 500ms ease-in-out;
}

.auth-form .submit-btn:hover {
  background-color: var(--dark-brown-color);
}
