.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #eaeaf1;
  padding: 1rem 3rem;
  border-radius: 1.3rem;
  width: 38%;
}

.create-post-form .post-field .post-label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--tan-color);
}

.create-post-form .post-field .post-input {
  background: none;
  border-radius: 0.31rem;
  border: var(--border-default-values) var(--tan-color);
  width: 100%;
  padding: 0.65rem 1rem;
}

.create-post-form .post-field .post-input:focus {
  outline: none;
}

.create-post-form .post-field .post-input.textarea {
  resize: none;
  display: block;
}

.create-post-form .post-field .post-input.select .select-option {
  color: var(--tan-color);
}

.create-post-form .file-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-post-form .submit-btn {
  padding: 0.5rem;
  font-weight: bolder;
  font-style: italic;
  color: white;
  background-color: var(--brown-color);
  border: none;
  border-radius: 0.31rem;
  transition: background-color 500ms ease-in-out;
}

.create-post-form .submit-btn:hover {
  background-color: var(--dark-brown-color);
}
