.auth-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.auth-form.register-form {
  min-height: 400px;
}

.auth-form.register-form.loading {
  align-items: center;
}

.auth-form .loader-container {
  flex: 1;
}

.auth-form .auth-field .auth-label {
  display: block;
  color: var(--brown-color);
}

.auth-form .auth-field .input-container {
  position: relative;
}

.auth-form .auth-field .auth-input {
  background: none;
  width: 100%;
  border: var(--border-default-values) var(--brown-color);
  border-radius: var(--radius-sm);
  font-size: var(--text-xl);
  color: var(--brown-color);
  padding-left: var(--spacing-sm);
}

.auth-form .auth-field .auth-input.error-input {
  border: var(--border-default-values) var(--red-color);
}

.auth-form .auth-field .auth-input.error-input:focus {
  outline: var(--border-default-values) var(--red-color);
}

.auth-form .submit-btn {
  background-color: var(--brown-color);
  border: none;
  border-radius: var(--radius-2xl);
  color: white;
  margin-top: var(--spacing-base);
  padding: var(--spacing-sm);
  transition: var(--transition-all);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form .submit-btn:hover {
  background-color: var(--dark-brown-color);
}

@media screen and (max-width: 768px) {
  .auth-form {
    width: 90%;
    gap: var(--spacing-md);
  }

  .auth-form .submit-btn {
    padding: var(--spacing-md);
    font-size: var(--text-lg);
  }
}

@media screen and (max-width: 480px) {
  .auth-form {
    width: 100%;
    gap: var(--spacing-md);
  }

  .auth-form .auth-field .auth-label {
    font-size: var(--text-base);
    margin-bottom: var(--spacing-xs);
  }

  .auth-form .auth-field .auth-input {
    font-size: var(--text-base);
    padding: var(--spacing-md);
    border-radius: var(--radius-xs);
  }

  .auth-form .submit-btn {
    width: 100%;
    margin-top: var(--spacing-lg);
    padding: var(--spacing-md);
    font-size: var(--text-xl);
    border-radius: var(--radius-lg);
  }
}
