.post-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
  padding: 1rem 2rem;
}

.post-section > * {
  flex-basis: 30%;
}

@media screen and (max-width: 1024px){
  .post-section {
    gap: 1.5em;
    padding: 0.5rem 0.75rem;
  }

  .post-section > * {
    flex: 1 1 45%;
  }
}

@media screen and (max-width: 700px) {
  .post-section {
    gap: 1em;
    padding: 0.5rem 0.75rem;
  }
  .post-section > * {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .post-section {
    padding: 1rem 0.5rem;
  }
}
