.map-section {
  display: none;
  padding: var(--post-bottom-section-padding);
  width: 100%;
  border-top: 2px solid var(--coffee-pot-color);
}

.map-section.active {
  display: block;
}

.map-section .section-header {
  text-align: center;
}

.locations-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations-wrapper .show-locations-btn {
  background: none;
  border: none;
  border-bottom: var(--border-default-values) var(--coffee-pot-color);
  color: var(--coffee-pot-color);
  width: 85%;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}
