.map-section {
  display: none;
  padding: 0.5rem 2rem;
  width: 100%;
  border-top: 2px solid var(--coffee-pot-color);
}

.map-section.active {
  display: block;
}

.map-section .section-header{
  text-align: center;
}

.map-section .leaflet-container {
  margin-top: 0.5rem;
  height: 300px;
  border-radius: 2rem;
}

.map-section .add-location-btn {
  margin: 1.5rem auto;
  display: block;
  background-color: var(--brown-color);
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 0.5rem 1rem;
  transition: background-color 500ms ease-in-out;
}

.map-section .add-location-btn:hover {
  background-color: var(--darker-bronw-color);
}

.map-section .add-location-btn:active {
  background-color: var(--light-brown-color);
}

.locations-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations-wrapper .show-locations-btn {
  background: none;
  border: none;
  border-bottom: 1px solid var(--coffee-pot-color);
  color: var(--coffee-pot-color);
  width: 85%;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}
