.auth-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.auth-wrapper .auth-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--pewter-color);
  padding: 1.5rem 2rem;
  border-radius: 1.3rem;
  width: 40%;
  max-width: 485px;
}

.auth-wrapper .auth-card .segmented-control{
  display: flex;
  align-self: normal;
}

.auth-wrapper .auth-card .segmented-control .toggle-option{
  width: 48%;
  flex: 1;
  text-align: center;
  background-color: #7A8BAE;
  padding: 0.4rem;
}

.auth-wrapper .auth-card .segmented-control .toggle-option.active{
  background-color: #B0C4DE;
}

.auth-wrapper .auth-card .segmented-control .toggle-option .control-label{
  display: block;
  color: #2C3E50;
  cursor: pointer;
}

.auth-wrapper .auth-card .segmented-control .toggle-option .control-input{
  display: none;
}

.auth-wrapper .auth-card .auth-header {
  margin: 1.5rem 0;
}

.auth-wrapper .auth-card .auth-header .auth-title{
  color: #74503C;
}
