.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.feed-container {
  display: flex;
  justify-content: center;
}

.feed-select {
  font-size: 2rem;
  background: none;
  border: none;
  border-bottom: 3px solid black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}