.comment-card {
  display: flex;
  gap: var(--spacing-base);
}

.comment-card .profile-image {
  width: var(--profile-image-width-and-height);
  height: var(--profile-image-width-and-height);
  border-radius: var(--radius-xl);
}

.comment-card .comment-wrapper {
  flex-grow: 2;
  display: flex;
  gap: var(--spacing-xs);
  flex-direction: column;
  align-self: flex-start;
}

.comment-card .comment-wrapper .comment-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.comment-card .comment-wrapper .comment-header .username {
  font-size: var(--text-lg);
}

.comment-card
  .comment-wrapper
  .comment-header
  .username
  .profile-link.username {
  color: var(--coffee-pot-color);
  transition: var(--transition-color);
}

.comment-card
  .comment-wrapper
  .comment-header
  .username
  .profile-link.username:hover {
  color: var(--tan-color);
}

.comment-card .comment-wrapper .comment-header .date-created {
  font-size: var(--text-sm);
  color: var(--tan-color);
  font-style: italic;
}

.comment-card .comment-wrapper .content {
  padding-left: var(--spacing-sm);
  border-left: 2px solid var(--coffee-pot-color);
}

@media screen and (max-width: 768px) {
  .comment-card {
    gap: var(--spacing-md);
  }

  .comment-card .comment-wrapper .comment-header .username {
    font-size: var(--text-base);
  }
}

@media screen and (max-width: 480px) {
  .comment-card .profile-image {
    width: 2rem;
    height: 2rem;
  }

  .comment-card .comment-wrapper .comment-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .comment-card .comment-wrapper .comment-header .date-created {
    font-size: var(--text-xs);
  }
}
