.location-card {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  border-radius: var(--radius-xs);
  padding: var(--spacing-xs);
}

.location-card.valid {
  background: rgba(255, 191, 0, 0.35);
}

.location-card .profile-image-container {
  width: var(--profile-image-width-and-height);
  height: var(--profile-image-width-and-height);
  min-width: 2rem;
  border-radius: var(--radius-full);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-card .profile-image-container .profile-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-full);
}

.location-card .location-info-wrapper .pointed-by-text .username {
  font-weight: bolder;
}

.location-card
  .location-info-wrapper
  .pointed-by-text
  .username
  .profile-link.username {
  color: var(--coffee-pot-color);
  transition: var(--transition-color);
}

.location-card
  .location-info-wrapper
  .pointed-by-text
  .username
  .profile-link.username:hover {
  color: var(--tan-color);
}

.location-card .location-info-wrapper .pointed-by-text .location-url {
  color: var(--light-brown-color);
  transition: var(--transition-color);
}

.location-card .location-info-wrapper .pointed-by-text .location-url:hover {
  color: var(--lighter-brown-color);
}

.location-card .found-btn {
  border: none;
  border-radius: var(--radius-full);
  background: var(--coffee-pot-color);
  color: white;
  padding: var(--spacing-xs) var(--spacing-sm);
  transition: var(--transition-all);
}

.location-card .found-btn:hover {
  background-color: var(--darker-brown-color);
}

@media screen and (max-width: 768px) {
  .location-card {
    gap: var(--spacing-md);
  }

  .location-card .location-info-wrapper {
    font-size: var(--text-base);
  }

  .location-card .found-btn {
    padding: var(--spacing-sm) var(--spacing-md);
  }
}

@media screen and (max-width: 480px) {
  .location-card {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .location-card .profile-image-container {
    width: 2rem;
    height: 2rem;
  }

  .location-card .location-info-wrapper .pointed-by-text {
    line-height: 1.5;
  }

  .location-card .found-btn {
    margin-top: var(--spacing-sm);
  }
}

@media screen and (max-width: 360px) {
  .location-card .location-info-wrapper .pointed-by-text .location-url {
    font-size: var(--text-xs);
    padding-bottom: var(--spacing-md);
  }
}
