.location-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.location-card.valid {
  background: #1a01cc; /* TODO: change to a better UI */
}

.location-card .profile-image-container {
  width: var(--profile-image-width-and-height);
  height: var(--profile-image-width-and-height);
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-card .profile-image-container .profile-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 2rem;
}

.location-card .location-info-wrapper .pointed-by-text .username {
  font-weight: bolder;
}

.location-card .location-info-wrapper .pointed-by-text .username .profile-link.username {
  color: var(--coffee-pot-color);
  transition: color 500ms ease-in-out;
}

.location-card .location-info-wrapper .pointed-by-text .username .profile-link.username:hover {
  color: var(--tan-color);
}

.location-card .location-info-wrapper .pointed-by-text .location-url {
  color: var(--light-brown-color);
  transition: color 500ms ease-in-out;
}

.location-card .location-info-wrapper .pointed-by-text .location-url:hover {
  color: var(--lighter-brown-color);
}
