#root {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
}

#root .app-loader {
  height: 100vh;
  gap: 1rem;
  flex-direction: column;
}

#root .app-loader .loading-text {
  color: var(--tan-color);
  font-size: 5rem;
  text-align: center;
}

#root main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  #root .app-loader .loading-text {
    color: var(--tan-color);
    font-size: 2.5rem;
  }
}
