:root {
  --tan-color: #74503c;
  --pewter-color: #eaeaf1;
  --gray-color: #bebebe;
  --light-gray-color: #e5e5e5;
  --dark-gray-color: #4f4f4f;
  --dark-pewter-color: #bebed4;
  --darker-pewter-color: #8f8faf;
  --purple-color: #8675FF;
  --coffee-pot-color: #67595e;
  --brown-color: #8c5826;
  --dark-brown-color: #7a6b6b;
  --darker-brown-color: #503618;
  --light-brown-color: #73675c;
  --lighter-brown-color: #a18a8a;
  --red-color: #ff3131;
  --charcoal-color: #bfc2d4;
  --success-color: #46a75d;
  --light-success-color: #d4edda;
  --info-color: #5bc0de;
  --light-info-color: #88d1ef;

  --border-default-values: 1px solid;

  --post-bottom-section-padding: 0.5rem 1rem;

  --profile-image-width-and-height: 2.5rem;
}
