:root {
  --tan-color: #74503c;
  --pewter-color: #EAEAF1;
  --gray-color: #BEBEBE;
  --dark-pewter-color: #BEBED4;
  --darker-pewter-color: #8F8FAF;
  --coffee-pot-color: #67595E;
  --brown-color: #8c5826;
  --dark-brown-color: #7A6B6B;
  --darker-bronw-color: #503618;
  --light-brown-color: #73675c;
  --lighter-brown-color: #a18a8a;
  --red-color: #FF3131;
  --charcoal-color: #BFC2D4;

  --border-default-values: 1px solid;

  --post-bottom-section-padding: 0.5rem 1rem;
}