.search-bar {
  padding: var(--spacing-sm);
  background-color: var(--charcoal-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius-sm);
  transition: var(--transition-all);
}

.search-bar .input-query {
  flex-grow: 1;
  padding: var(--spacing-xs) var(--spacing-base);
  border: var(--border-default-values) var(--gray-color);
  min-width: 0;
}

.search-bar .input-query:focus {
  outline: none;
}

.search-bar .search-btn {
  color: white;
  background-color: var(--charcoal-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs)
    var(--spacing-md);
}

@media screen and (max-width: 768px) {
  .search-bar {
    height: 4rem;
    padding: var(--spacing-xs);
    align-items: center;
  }

  .search-bar .input-query {
    height: 30px;
    padding: var(--spacing-xs) var(--spacing-md);
  }
}

@media screen and (max-width: 480px) {
  .search-bar {
    height: 3rem;
    padding: var(--spacing-xs);
    gap: 0;
  }

  .search-bar .input-query {
    height: 28px;
    font-size: var(--text-base);
    line-height: 1;
    padding: var(--spacing-xs);
    border-radius: var(--radius-xs);
  }

  .search-bar .search-btn {
    height: 28px;
    padding: var(--spacing-xs) var(--spacing-md);
    font-size: var(--text-sm);
  }
}
