.hamburger-menu {
  background-color: var(--darker-pewter-color);
  height: 100vh;
  width: 70%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  transition: all 300ms ease-in-out;
  z-index: 900;
}

.hamburger-menu.active {
  right: 0;
}
.hamburger-menu .hamburger-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hamburger-menu .hamburger-links .item .link {
  color: var(--tan-color);
  text-align: center;
}

.hamburger-menu .item .logout {
  background: none;
  border: none;
  color: var(--tan-color);
}

.hamburger-menu .close-menu-btn {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  z-index: 1000;
  background: none;
  border: none;
  color: var(--tan-color);
}
